<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>آخرین خبرها</title>
	<meta name="description" content="Cardio is a free one page template made exclusively for Codrops by Luka Cvetinovic" />
	<meta name="keywords" content="html template, css, free, one page, gym, fitness, web design" />
	<meta name="author" content="Luka Cvetinovic for Codrops" />
	<!-- Favicons (created with http://realfavicongenerator.net/)-->
	<link rel="apple-touch-icon" sizes="57x57" href="../static/img/favicons/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="../static/img/favicons/apple-touch-icon-60x60.png">
	<link rel="icon" type="image/png" href="../static/img/favicons/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="../static/img/favicons/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="../static/img/favicons/manifest.json">
	<link rel="shortcut icon" href="../static/img/favicons/favicon.ico">
	<meta name="msapplication-TileColor" content="#00a8ff">
	<meta name="msapplication-config" content="img/favicons/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">
	<!-- Normalize -->
	<link rel="stylesheet" type="text/css" href="../static/css/normalize.css">
	<!-- Bootstrap -->
	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
	<!-- Owl -->
	<link rel="stylesheet" type="text/css" href="../static/css/owl.css">
	<!-- Animate.css -->
	<link rel="stylesheet" type="text/css" href="../static/css/animate.css">
	<!-- Font Awesome -->
	<link rel="stylesheet" type="text/css" href="../static/fonts/font-awesome-4.1.0/css/font-awesome.min.css">
	<!-- Elegant Icons -->
	<link rel="stylesheet" type="text/css" href="../static/fonts/eleganticons/et-icons.css">
	<!-- Main style -->
	<link rel="stylesheet" type="text/css" href="../static/css/cardio.css">
    <meta charset="UTF-8">
    <title></title>

</head>


<body>

	<div class="preloader">
		<img src="../static/img/loader.gif" alt="Preloader image">
	</div>

	<nav class="navbar">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#"><img src="../static/img/logo.png" data-active-url="img/logo-active.png" alt=""></a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right main-nav">

					<li class="navv"><h5 ><a class="nav_" href="#services"> آخرین خبرها </a> </h5> </li>
					<li class="navv"> <h5> <a class="nav_" href="#services"> خدمات </a> </h5> </li>
					<li class="navv"> <h5> <a class="nav_" href="index.html"> صفحه اصلی </a> </h5> </li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>

	<header id="intro">
		<div class="container">
			<div class="table">
				<div class="header-text">
					<div class="row">
						<div class="col-md-12 text-center">
							<h2 class="light white"> اخبار آنلاین </h2>
							<h1 class="white typed">آخرین خبرها را از ما بخواهید</h1>
							<span class="typed-cursor">|</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<section id="services " class="section section-padded" >
		<div class="container">





				<div class="col-md-12 title_">
					<h2 class="h3bnarm">  متن کامل خبر </h2>
				</div>

				<div class="col-md-12 ">
					<div class="service">
						<div class="icon-holder">
							<img src="../static/img/icons/weight-blue.png" alt="" class="icon">
						</div>
						<h4 class="heading"> اخبار استان </h4>
						<p class="description">همانطور که می دانیم در زندگی همه ی انسانها نیاز به یک زندگی همگانی و اجتماعی دارند . یعنی انسان به تنهایی نمی تواند زندگی فردی خودرا هدایت و رهبری کند، اگر او خود مختار باشد و فقط به خود بیاندیشد ادامه زندگی برایش ممکن نیست .</p>
					</div>
				</div>














	<!-- Scripts -->
	<script src="../static/js/jquery-1.11.1.min.js"></script>
	<script src="../static/js/owl.carousel.min.js"></script>
	<script src="../static/js/bootstrap.min.js"></script>
	<script src="../static/js/wow.min.js"></script>
	<script src="../static/js/typewriter.js"></script>
	<script src="../static/js/jquery.onepagenav.js"></script>
	<script src="../static/js/main.js"></script>


</body>

</html>